<nav>
    <img src="assets\images\logo fuad.svg" alt="logo fuad">
    <ul>
        <li><a routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page">home</a></li>
        <li><a routerLink="/project-component" routerLinkActive="active" ariaCurrentWhenActive="page">project</a></li>
        <li><a routerLink="/blog-component" routerLinkActive="active" ariaCurrentWhenActive="page">blog</a></li>
        <li><a routerLink="/contact-component" routerLinkActive="active" ariaCurrentWhenActive="page">contact</a></li>
    </ul>
</nav>