<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
</head>
<body>
    <div class="container">
    <p>
        <mat-form-field appearance="legacy">
          <mat-label>Full Name</mat-label>
          <input matInput placeholder="Fill Your Name">
          <mat-hint>Input Your Name</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Corporate Name</mat-label>
          <input matInput placeholder="Fill Your Corporate Name">
          <mat-hint>Input Your Corporate Name</mat-hint>
        </mat-form-field> 
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="">
          <mat-hint>Input Your Phone Number</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="">
          <mat-hint>Input Your Mail Address</mat-hint>
        </mat-form-field>
      </p>
      <p>
      <mat-form-field appearance="fill">
        <mat-label>Text Message</mat-label>
        <textarea matInput></textarea>
        <mat-hint>Input Your Message</mat-hint>
    </mat-form-field>
        </p>

      <div class="button">
      <button mat-raised-button color="primary">Send</button>
        </div>
    </div>
</body>
</html>

  