<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div>  
        <h2>Hi, I'm Fuad</h2>
        <h1>UI/UX Designer</h1>
        <h3><pre>
I'm from Indonesia and I've been working as a UI/UX designer 
for freelancer,WordPress Developer for about a year and always love it.
I work as freelancer at a local compony. I'm focusing on 
web design and front end.
And right now I'm looking forward to working with you!
        </pre></h3>
        <div class="image"> 
    <img src="assets\images\Group 6.svg" alt="Foto Profil">
    </div>
        </div>
</body>
</html>
